[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hurricaneexposure"]
	path = hurricaneexposure
	url = https://github.com/geanders/hurricaneexposure
[submodule "weathermetrics"]
	path = weathermetrics
	url = https://github.com/geanders/weathermetrics
