[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "futureheatwaves"]
	path = futureheatwaves
	url = https://github.com/geanders/futureheatwaves
[submodule "hurricaneexposure"]
	path = hurricaneexposure
	url = https://github.com/geanders/hurricaneexposure
[submodule "noaastormevents"]
	path = noaastormevents
	url = https://github.com/geanders/noaastormevents
[submodule "weathermetrics"]
	path = weathermetrics
	url = https://github.com/geanders/weathermetrics
